/* html, body {
  overflow-x: hidden;
} */

/* top-bar */

.top-bar {
  background-color: #474747;
  height: auto;
  /* height: 45px; */
  display: flex;
}
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 11px 150px;
  padding-top: 11px;
}
.call {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.mail {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 25px;
}
.social {
  display: flex;
  max-width: 120px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}
.icon {
  background-color: #f9f9f71f;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-twitter,
.fa-facebook-f,
.fa-instagram,
.fa-github {
  color: #fff;
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 29px 155px 29px 155px;
}
#burger-bar {
  display: none;
}
.fa-bars {
  font-size: 30px;
}
.nav-list {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #2c2f24;
  font-family: "DM Sans";
}
.nav-item {
  margin-right: 24px;
}
.home {
  color: #ad343e;
}
.nav-list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background-color: #ad343e;
  opacity: 0;
}
.nav-list a:hover::after {
  opacity: 1;
}
.nav-list :hover {
  color: #ad343e;
}
.button-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 148px;
  width: 100%;
  height: 48px;
  border: 2px solid #2c2f24;
  border-radius: 118px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #182226;
  font-family: "DM Sans";
}
.button-1 a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: #ad343e;
  opacity: 0;
}
.button-1 a:hover::after {
  opacity: 1;
}
.button-1 :hover {
  color: #ad343e;
}

/* section 1 */

.sec-1 {
  background-image: url(../images/cover.png);
  width: 100%;
  height: 802px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-1 {
  max-width: 667px;
  width: 90%;
  height: 392px;
  text-align: center;
}
.h1-sec1 {
  font-size: 100px;
  font-weight: 400;
  line-height: 96px;
  color: #2c2f24;
  font-family: "Playfair Display";
}
.h3-sec1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #2c2f24;
  padding-top: 32px;
  font-family: "DM Sans";
}
.box-1 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.button-2 {
  max-width: 164px;
  width: 100%;
  height: 64px;
  background-color: #ad343e;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: "DM Sans";
  border-radius: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-3 {
  max-width: 171px;
  width: 100%;
  height: 64px;
  border: 2px solid #2c2f24;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: "DM Sans";
  color: #182226;
  border-radius: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}

/* section 2 */

.sec-2 {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
  margin-top: 92px;
  margin-bottom: 120px;
}
.h2-sec2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 60px;
  color: #2c2f24;
  font-family: "Playfair Display";
  text-align: center;
  margin-bottom: 64px;
}
.menu-boxes {
  display: flex;
  justify-content: space-between;
}
.m-box {
  max-width: 306px;
  width: 100%;
  height: 375px;
  border: 2px solid #dbdfd0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.m-text {
  margin: 30px 0 0 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.h5-sec2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -3%;
  color: #2c2f24;
  font-family: "DM Sans";
  text-align: center;
}
.p-sec2 {
  max-width: 238px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #414536;
  font-family: "DM Sans";
  text-align: center;
}
.image-3 {
  margin: 0 auto;
  margin-top: 40px;
}
.button-4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ad343e;
  font-family: "DM Sans";
  text-align: center;
}

/* section 3 */

.sec-bg {
  background-color: #f9f9f7;
}
.sec-3 {
  max-width: 1296px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
}

/* right div */

.right-div3 {
  max-width: 461px;
  width: 100%;
  margin: 249px 152px 249px 90px;
}
.h2-sec3 {
  max-width: 461px;
  width: 100%;
  font-size: 55px;
  font-weight: 500;
  line-height: 61px;
  font-family: "Playfair Display";
  margin-bottom: 20px;
}
.p-sec3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "DM Sans";
  margin-bottom: 50px;
}
.feat3 {
  display: flex;
  flex-direction: column;
}
.icon3 {
  width: 30px;
  height: 30px;
  border-radius: 65px;
  background-color: #ad343e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-clock,
.fa-receipt,
.fa-cart-shopping {
  color: #ffffff;
}
.p-feat3 {
  max-width: 252px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  font-family: "DM Sans";
  margin-left: 20px;
}
.feat3-1 {
  display: flex;
  max-width: 302px;
  width: 100%;
  margin-bottom: 20px;
}

/* left div */

.left-div3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
  max-width: 745px;
  width: 100%;
}
.left-img1 {
  max-width: 431px;
  width: 100%;
  height: 600px;
}
.left-img1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 431px;
  border-radius: 12px;
  margin-top: 120px;
  margin-bottom: 147px;
}
.right-img2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
  max-width: 290px;
  width: 100%;
  height: 597px;
}
.r-img-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  width: 290px;
  height: 333px;
  margin-top: 150px;
}
.r-img-2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  width: 290px;
  height: 240px;
  margin-bottom: 120px;
}
.hidden-img {
  display: none;
}

/* section 4 */

.sec-4 {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
  margin-top: 98px;
  margin-bottom: 135px;
}
.h2-sec4 {
  font-size: 55px;
  line-height: 61px;
  font-weight: 500;
  color: #2c2f24;
  font-family: "Playfair Display";
  text-align: center;
  margin-bottom: 64px;
  margin-top: 0;
}
.boxes-4 {
  display: flex;
  justify-content: space-between;
}
.box1-4 {
  max-width: 410px;
  width: 90%;
  height: 408px;
  background-color: #f9f9f7;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text1-4 {
  margin: 45px 0 0 35px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.h3-sec4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -3%;
  color: #ad343e;
  font-family: "DM Sans";
  margin-bottom: 24px;
}
.line {
  width: 90%;
}
.p-sec4 {
  max-width: 346px;
  width: 90%;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #414536;
  font-family: "DM Sans";
}
.customers {
  display: flex;
  margin: 32px 153px 35px 35px;
}
.cust-text {
  margin: 9.5px 0px 9.5px 20px;
}
.h5-sec4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #2c2f24;
  font-family: "DM Sans";
  margin-bottom: 3px;
}
.location {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #414536;
  font-family: "DM Sans";
}

/* footer */

.footer-bg {
  background-color: #474747;
}
.footer {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1296px;
  width: 90%;
}
.col-1 {
  display: flex;
  flex-direction: column;
  margin: 120px 120px 197px 0;
}
.p-footer {
  max-width: 293px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #adb29e;
  font-family: "DM Sans";
  margin-top: 30px;
  margin-bottom: 30px;
}
.soc-footer {
  display: flex;
  max-width: 176px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-right: 117px;
}
.icon-footer {
  background-color: #ad343e;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* column 2 */
.col-2 {
  display: flex;
  flex-direction: column;
  padding-right: 90px;
  /* margin: 120px 120px 167px 0; */
}
.nav-footer {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "DM Sans";
  color: #dbdfd0;
}
.nav-ft-it {
  margin-bottom: 20px;
}
.h4-footer {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: "DM Sans";
  color: #ffffff;
  margin-bottom: 40px;
}

/* column 3 */
.col-3 {
  display: flex;
  flex-direction: column;
  /* margin: 120px 152px 167px 0; */
}
.navigation-3 {
  width: 149px;
}

/* column 4 */
.col-4 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 403px;
  width: 90%;
  /* margin: 120px 0 167px 0; */
}
.h3-footer {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  font-family: "DM Sans";
  margin-bottom: 40px;
}
.img-f {
  display: flex;
  flex-direction: row;
}
.img-ft {
  margin-bottom: 15px;
  /* margin-right: 15px; */
}

/* pages */
.sec-pages {
  background-color: #f9f9f7;
}
.pages-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.pages-text {
  max-width: 870px;
  width: 90%;
  height: 176px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 68px;
}
.h1-pages {
  font-size: 100px;
  line-height: 96px;
  font-weight: 400;
  color: #2c2f24;
  font-family: "Playfair Display";
  margin-bottom: 24px;
}
.p-pages {
  margin-bottom: 72px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #414536;
  font-family: "DM Sans";
  max-width: 632px;
  width: 100%;
}

/* cards */

.span-pages {
  color: #737865;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: "DM Sans";
  margin-top: 30px;
  margin-bottom: 12px;
  margin-left: 25px;
}
.p-pages-2 {
  color: #2c2f24;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  font-family: "DM Sans";
  margin-bottom: 26px;
  margin-left: 25px;
}
.pages-box {
  margin: 0 auto;
  max-width: 1296px;
  width: 100%;
  margin-bottom: 138px;
}
.row-1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  margin-bottom: 32px;
}
.page-card {
  display: flex;
  flex-direction: column;
  max-width: 306px;
  width: 100%;
  height: 340px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #f9f9f7;
  box-shadow: 0px 8px 3px 0 #00000014;
}

/* contact */

.sec1-contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.contact-text {
  max-width: 545px;
  width: 90%;
  height: 176px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 74px;
}
.h1-contact {
  font-size: 100px;
  line-height: 96px;
  font-weight: 400;
  color: #2c2f24;
  font-family: "Playfair Display";
  margin-bottom: 24px;
}
.p-contact {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #495460;
  font-family: "DM Sans";
  /* margin-bottom: 72px; */
}
.forms {
  margin: 0 auto;
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  background-color: #fff;
  max-width: 797px;
  width: 100%;
  height: 588px;
  padding: 40px;
  border-radius: 16px;
  gap: 10px;
  color: #2c2f24;
  margin-top: 72px;
  margin-bottom: 83px;
  box-shadow: 0 3px 3px 0 #00000014;
}
.form input {
  width: 100%;
  height: 60px;
  border: 1px solid #dbdfd0;
  border-radius: 72px;
  padding: 0 24px;
  font-size: 16px;
  color: #737865;
  font-family: "DM Sans";
  margin-top: 8px;
}
.h3-contact {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #2c2f24;
  font-family: "DM Sans";
}
.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.form textarea {
  display: block;
  width: 100%;
  height: 156px;
  border: 1px solid #dbdfd0;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #737865;
  font-family: "DM Sans";
  resize: none;
}
.form-row {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.send {
  width: 100%;
  height: 64px;
  border: none;
  border-radius: 118px;
  background: #ad343e;
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: "DM Sans";
}
.form-row {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  /* width: 100%; */
}
.name-row {
  max-width: 350px;
  width: 100%;
}

/* contact-section 2 */
.contact-info {
  margin: 0 auto;
  max-width: 776px;
  width: 100%;
  /* margin-top: 83px; */
  margin-bottom: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-con-in {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #2c2f24;
  font-family: "DM Sans";
  margin-bottom: 24px;
}
.h3-con-in {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -3%;
  font-weight: 700;
  color: #ad343e;
  font-family: "DM Sans";
}
.p-con-in2 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #2c2f24;
  font-family: "DM Sans";
}
.cont-1 {
  max-width: 209px;
  width: 100%;
  height: 134px;
}



/* responsives */

@media (max-width: 1200px) {
  .navigation {
    display: none;
  }

  #burger-bar {
    display: block;
  }

  .menu {
    flex-direction: column;
  }

  .nav-list {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    row-gap: 15px;
  }

  .navigation.active {
    display: block;
  }
}

/* 1200px */

@media (max-width: 1200px) {
  .header {
    padding: 20px 40px;
  }

  .info {
    margin-left: 40px;
  }

  .social {
    margin-left: auto;
  }

  .sec-3 {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 60px;
    position: relative;
  }

  .right-div3 {
    padding-left: 150px;
  }

  .left-div3 {
    display: none;
  }

  .hidden-img {
    max-width: 490px;
    width: 90%;
    height: auto;
    display: block;
    position: absolute;
    padding-left: 70px;
  }

  .h-img {
    border-radius: 60px;
  }

  .boxes-4 {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .col-4 {
    display: none;
  }

  .footer {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
  }
}

/* 1024px */

@media (max-width: 1024px) {
  .menu-boxes {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .m-box {
    max-width: 45%;
  }

  .m-text {
    margin: 0 auto;
    text-align: center;
  }

  /* .sec-3 {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
  } */

  .boxes-4 {
    flex-direction: column;
    align-items: center;
  }

  .box1-4 {
    max-width: 90%;
  }

  .text1-4 {
    width: 90%;
  }

  /* .footer {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  } */

  .col-1,
  .col-2,
  .col-3,
  .col-4 {
    margin: 40px 0;
  }
}

/* 744px */

@media (max-width: 744px) {

  /* TOP BAR */
  .top-bar {
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
  }

  .info {
    margin: 0;
    /* flex-direction: column; */
    gap: 5px;
  }

  .social {
    margin: 10px 0 0 0;
  }

  /* HEADER */
  .nav-list {
    display: none;
  }

  #burger-bar {
    display: block;
  }

  .header {
    padding: 20px;
  }
  .logo-title {
    display: none;
  }

  /* SECTION 1 */
  .h1-sec1 {
    font-size: 50px;
    line-height: 55px;
  }

  .h3-sec1 {
    font-size: 16px;
  }

  .box-1 {
    /* flex-direction: column; */
    gap: 10px;
  }

  .button-3 {
    margin-left: 0;
  }

  /* SECTION 2 */
  .menu-boxes {
    flex-direction: column;
    align-items: center;
  }

  .m-box {
    max-width: 90%;
  }

  /* SECTION 3 */
  .feat3-1 {
    justify-content: center;
  }

  /* SECTION 4 */
  .h2-sec4 {
    font-size: 35px;
  }

  .boxes-4 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .box1-4 {
    max-width: 90%;
    height: auto;
  }

  /* FOOTER */
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .soc-footer {
    margin: 0 auto;
  }

  .col-2, .col-3 {
    display: none;
  }

  /* PAGES */
  .h1-pages {
    font-size: 50px;
  }

  .row-1 {
    justify-content: center;
    gap: 20px;
  }

  /* CONTACT */
  .row {
    flex-direction: column;
  }

  .contact-info {
    flex-direction: column;
    gap: 30px;
  }
}

/* 380px */
@media (max-width: 380px) {

  .top-bar {
    flex-direction: column;
  }

  .info {
    flex-direction: column;
  }

  .boxes-4 {
    gap: 50px;
  }

  .text1-4 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  /* .cust-text {
    display: none;
  }
  .cust-img {
    display: none;
  } */

  .line {
    display: none;
  }

  .box1-4 {
    padding: 20px;
  }

  .customers {
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
  }

  .h1-sec1,
  .h1-pages,
  .h1-contact {
    font-size: 36px;
    line-height: 40px;
  }

  .h2-sec2,
  .h2-sec3,
  .h2-sec4 {
    font-size: 28px;
    line-height: 32px;
  }

  .button-2,
  .button-3 {
    height: 50px;
    font-size: 14px;
  }

  .forms {
    padding: 20px;
  }
}